<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>成功</string>
	<key>1</key>
	<string>服务器错误，请稍后再试</string>
	<key>2</key>
	<string>登录失败，请重试</string>
	<key>3</key>
	<string>不能连接到服务器，请检查手机网络状态</string>
	<key>1001</key>
	<string>用户名或密码输入错误</string>
	<key>1002</key>
	<string>用户名或密码输入错误</string>
	<key>1008</key>
	<string>用户名已经被使用</string>
	<key>1051</key>
	<string>The car has already exist</string>
	<key>1052</key>
	<string>can not find the station</string>
	<key>1053</key>
	<string>优惠券不可重复领取</string>
	<key>1054</key>
	<string>优惠券已全部被领取</string>
	<key>1100</key>
	<string>网络慢，请稍候再试</string>
	<key>1023</key>
	<string>登录失效，请重新登录</string>
	<key>1039</key>
	<string>超时，请重新登录</string>
	<key>1902</key>
	<string>内部错误</string>
	<key>10000</key>
	<string>未知的错误</string>
</dict>
</plist>
